@import url(colors.css);

#form-search {
  width: 100%;
  max-width: 480px;

  margin-bottom: 30px;

  display: flex;
  gap: 10px;
}

#form-search input {
  flex: 1;
  padding: 5px 10px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid var(--gray);
  transition: border 0.3s;
}

#form-search input:focus {
  outline: none;
  border-bottom: 2px solid var(--orange);
}

#form-search button {
  border: none;
  background-color: var(--orange);

  padding: 5px 10px;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}
#form-search button svg {
  fill: white;
}
